<%= form_for @customer do |c| %>
    <div class="form-group"> 
      <%= c.select :price_group_id, PriceGroup.all.map { |p| [p.name, p.id] }, {}, class: "form_control" %>
    </div>
        
    <div class="form-group">
        <%= c.submit "Назначить!", class: "btn btn-primary btn-sm" %>
    </div>
<% end %>